/* --------------------------*/
/* --------------------------*/
/*       styles-v11.css       */
/* --------------------------*/
/* --------------------------*/

.cta__dd-list-other-wrap {display:none}
.is--mac .cta__dd-list-other-wrap,
.is--linux .cta__dd-list-other-wrap,
.is--windows .cta__dd-list-other-wrap {display:block;}
.cta__dd-list-other-wrap.is--open{max-height:.7rem}
.w-nav .cta__dd-list-other-wrap.is--open{max-height:.88rem}
.w-nav .cta__dd-list-other-wrap::before{left:.3rem;right:.3rem}
.cta__dd-list-other-wrap.is--open::before {opacity:1}
.cta__dd-list-other-wrap.is--open .cta__list-item{opacity:0;pointer-events:none}

.is--mac .cta__dd-list-wrap .cta__list-item-wrap:nth-child(4),
.is--mac .cta__dd-list-wrap .cta__list-item-wrap:nth-child(5),
.is--windows .cta__dd-list-wrap .cta__list-item-wrap:nth-child(2),
.is--windows .cta__dd-list-wrap .cta__list-item-wrap:nth-child(3),
.is--windows .cta__dd-list-wrap .cta__list-item-wrap:nth-child(5),
.is--linux .cta__dd-list-wrap .cta__list-item-wrap:nth-child(2),
.is--linux .cta__dd-list-wrap .cta__list-item-wrap:nth-child(3),
.is--linux .cta__dd-list-wrap .cta__list-item-wrap:nth-child(4){max-height:0;opacity:0}

.is--mac .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(4),
.is--mac .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(5),
.is--windows .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(2),
.is--windows .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(3),
.is--windows .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(5),
.is--linux .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(2),
.is--linux .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(3),
.is--linux .cta__dd-list-wrap .is--open ~ .cta__list-item-wrap:nth-child(4){max-height:5rem;opacity:1}

.cta__dd-list-wrap div:nth-child(1) {order: 3}
.cta__dd-list-wrap div:nth-child(2) {order: 4}
.cta__dd-list-wrap div:nth-child(3) {order: 5}
.cta__dd-list-wrap div:nth-child(4) {order: 1}
.cta__dd-list-wrap div:nth-child(5) {order: 2}

.is--mac .cta__dd-list-wrap div:nth-child(1) {order: 3}
.is--mac .cta__dd-list-wrap div:nth-child(2) {order: 1}
.is--mac .cta__dd-list-wrap div:nth-child(3) {order: 2}
.is--mac .cta__dd-list-wrap div:nth-child(4) {order: 4}
.is--mac .cta__dd-list-wrap div:nth-child(5) {order: 5}

.is--windows .cta__dd-list-wrap div:nth-child(1) {order: 2}
.is--windows .cta__dd-list-wrap div:nth-child(2) {order: 4}
.is--windows .cta__dd-list-wrap div:nth-child(3) {order: 5}
.is--windows .cta__dd-list-wrap div:nth-child(4) {order: 1}
.is--windows .cta__dd-list-wrap div:nth-child(5) {order: 3}

.is--linux .cta__dd-list-wrap div:nth-child(1) {order: 2}
.is--linux .cta__dd-list-wrap div:nth-child(2) {order: 4}
.is--linux .cta__dd-list-wrap div:nth-child(3) {order: 5}
.is--linux .cta__dd-list-wrap div:nth-child(4) {order: 3}
.is--linux .cta__dd-list-wrap div:nth-child(5) {order: 1}

.is--copy-done .is--copy-done-icon {transform: scale(1);opacity: 1}
.is--copy-done .is--copy-initital-icon {transform: scale(.5);opacity: 0}
.article__mobile-content,
.is--ajax-load-btn .navbar__button-icon {display: none}
.article__content figure:last-child:not(.article__desctop-content figure, .article__mobile-content figure),
.article__desctop-content:last-child figure,
.article__desctop-content:nth-last-child(2) figure,
.article__mobile-content:last-child figure,
.article__mobile-content:nth-last-child(2) figure {padding-bottom: 1.333rem}
.remodal-wrapper {z-index: 100000}
.tippy-box{background-color:#fbfbfd;color:#2d343c;padding:.77rem .53rem;border-radius:.66rem;-webkit-box-shadow:0 4px 10px 0 rgba(0,0,0,.1);box-shadow:0 4px 10px 0 rgba(0,0,0,.1);font-size:.77rem;max-width:17.222rem!important}
.tippy-box span{margin-bottom:1.4em;display:inline-block}
.remodal,.tippy-box span:last-child{margin-bottom:0}
.tippy-arrow{color:#fbfbfd}
.tab-menu__description {
	height: 0;
}

.navbar__wrapper{background-color:rgba(243,243,247,.9)}
@supports((-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px))){
	.navbar__wrapper{background-color:rgba(255,255,255,.3);backdrop-filter:blur(10px);-webkit-backdrop-filter:blur(10px)}
}

.navbar__progress-bar,
.w-tabs:after,
.w-tabs:before {
	display: none
}

input.input-error {
	border-color: #ff6a64 !important
}

.remodal,
.remodal-wrapper:after {
	vertical-align: top
}

html.remodal-is-locked body {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none
}

.popup__scroll-content,
.remodal {
	max-height: calc(100vh - 4.66rem);
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none
}

.is--center-modal .remodal,
.is--center-modal .remodal-wrapper:after {
	vertical-align: middle
}

.remodal-overlay {
	background: rgba(4, 4, 10, .8);
	transition: .3s
}

.remodal-wrapper {
	padding: 2.33rem
}

.is--tiny-font body {
	font-weight:300;
}

.is--touch-device .price__calc-button:active {
	background-color: rgba(103, 115, 128, .15)
}

.is--touch-device .price__calc-button:hover {
	background-color: rgba(103, 115, 128, .05)
}

.blog-footer__link--store:hover .blog-footer__link-text,
.is--touch-device .blog-footer__link--store:active .blog-footer__link-text {
	border-color: #333e49
}

.blog-footer__link--store.is--404-link:hover .blog-footer__link-text,
.is--touch-device .blog-footer__link--store.is--404-link:active .blog-footer__link-text {
	border-color: transparent
}

.blog-footer__link--store:hover .blog-footer__link-icon,
.is--touch-device .article__content a:hover,
.is--touch-device .blog-footer__link--store:active .blog-footer__link-icon,
.is--touch-device article__introtext a:hover {
	color: #333e49
}

.article__content a.article__cta-button:active,
.article__content a.article__cta-button:hover,
.is--touch-device .article__content a.article__cta-button:hover,
.is--touch-device .article__content a.article__cta-button:active {
    color: #fff;
}

.is--touch-device .blog-footer__link--store.is--404-link:hover {
	transform: scale(1);
}

.is--touch-device .blog-footer__link--store.is--404-link:active {
	transform: scale(1.2);
}

.is--touch-device .article__content .article-cta__subtitle p a:active,
.is--touch-device .article__content a[href*=mailto]:hover,
.is--touch-device .article__content p a:active,
.is--touch-device article__introtext a:active {
	color: #009fe6
}

.is--touch-device .article__content a[href*=mailto]:active,
.is--touch-device .article__toc-box a:active {
	color: #2574a9
}

.is--touch-device .faq__show-button:hover {
	background-color: #FFFFFF66
}

.is--touch-device .faq__show-button:active {
	background-color: #fff
}

.is--touch-device .cta__dd_bn:hover {
	background-color: #665ebe
}

.is--touch-device .cta__dd_bn:active {
	background-color: #4f46af
}

.is--touch-device .cta__dd_bn.is--green:hover {
	background-color: #05c46b
}

.is--touch-device .cta__dd_bn.is--green:active {
	background-color: #049a54
}

.is--touch-device .button-submit.is--black:hover,
.is--touch-device .cta__dd_bn.is--black:hover,
.is--touch-device .form__success-button.is--black:hover {
	background-color: #2d343c
}

.is--touch-device .button-submit.is--black:active,
.is--touch-device .cta__dd_bn.is--black:active,
.is--touch-device .form__success-button.is--black:active {
	background-color: #000
}

.is--touch-device .logo-vendor__item:hover {
	background-color: #fff;
	border-color: #dbdbdb
}

.is--touch-device .logo-vendor__item:active {
	background-color: rgba(255, 255, 255, .3);
	border-color: #fff
}

.is--touch-device .logo-vendor__item.is--bottom-item:hover {
	background-color: rgba(255, 255, 255, .4)
}

.is--touch-device .logo-vendor__item.is--bottom-item:active {
	background-color: rgba(255, 255, 255, .2)
}

.is--touch-device .blog-footer__link--store:hover .blog-footer__link-icon {
	color: #adb3bb
}

.is--touch-device .blog-footer__link--store:hover .blog-footer__link-text,
.is--touch-device .blog-footer__link.blog-footer__link--store:active {
	border-color: transparent
}

.is--touch-device .blog-hero__filter-button.w--current:hover,
.is--touch-device .blog-hero__filter-button:active {
	color: #2574a9;
	background-color: rgba(34, 119, 218, .1);
	border-color: transparent
}

.is--touch-device .blog-hero__filter-button:hover {
	color: #677380;
	-webkit-text-stroke-color: rgba(103, 115, 128, .2);
	background-color: transparent;
	border-color: rgba(103, 115, 128, .2)
}

.is--touch-device .blog-footer__link:hover {
	color: #677380;
	border-bottom-color: transparent
}

.is--touch-device .blog-footer__link:active {
	color: #333e49;
	border-color: #333e49
}

.is--touch-device .article__header-crumb:hover {
	color: rgba(51, 62, 73, .5);
	border-bottom-color: rgba(51, 62, 73, .5)
}

.is--touch-device .article__header-crumb:active,
.is--touch-device .blog-footer__bottom-link:active {
	color: #2574a9;
	border-bottom-color: #2574a9
}

.is--touch-device .cookie-button:hover,
.is--touch-device .navbar__button:hover {
	color: #2d343c;
	background-color: transparent
}

.is--touch-device .cookie-button:active,
.is--touch-device .navbar__button:active {
	color: #fff;
	background-color: #2d343c
}

.is--touch-device .article__social-share-link.article__social-share-link--copy:hover,
.is--touch-device .article__social-share-link.article__social-share-link--tg:hover,
.is--touch-device .article__social-share-link.article__social-share-link--vk:hover {
	background-color: rgba(45, 52, 60, .2)
}

.is--touch-device .article__social-share-link.article__social-share-link--copy.is--copy-done:hover {
	background-color: rgba(5, 196, 107, .1)
}

.is--touch-device .article__social-share-link.article__social-share-link--copy:active {
	background-color: #009fe6
}

.is--touch-device .article__social-share-link.article__social-share-link--tg:active {
	background-color: #27a6e5
}

.is--touch-device .article__social-share-link.article__social-share-link--vk:active {
	background-color: #07f
}

.is--touch-device .article__cta-button:hover {
	background-color: #007aff
}

.is--touch-device .article__cta-button:active {
	background-color: #0066d6
}

.is--touch-device .blog-footer__bottom-link:hover {
	color: rgba(103, 115, 128, .8);
	border-color: rgba(103, 115, 128, .8)
}

.is--touch-device .article__content .article-cta__subtitle p a:hover {
	color: #677380
}

.is--touch-device .article__toc-box a:hover {
	color: rgba(45, 52, 60, .6)
}

.is--touch-device .bn__dropdown-sml.is-bordered:hover {
	background-color: transparent;
	color: #2d343c
}

.is--touch-device .bn__dropdown-sml.is-bordered:active {
	background-color: #2d343c;
	color: #fff
}

.is--touch-device .tooltip__question:hover,
.is--touch-device .footer__email-link:hover,
.is--touch-device .footer__menu-item:hover,
.is--touch-device .footer__phone-link:hover {
	opacity: .3
}

.is--touch-device .tooltip__question:active,
.is--touch-device .navbar__old-close:hover,
.is--touch-device .footer__email-link:active,
.is--touch-device .footer__menu-item:active,
.is--touch-device .footer__phone-link:active {
	opacity: .8
}

.is--touch-device .navbar__old-close:active {
	opacity: 1
}

html * {
	-webkit-tap-highlight-color: transparent
}

.article__content .cta-banner-place,
.article__content .cta-book-place {
	padding-top: 1.33rem;
	padding-bottom: 2.78rem
}

.article-cta--in-content .w-dyn-bind-empty {
	display: block !important
}

.article__preloader-wrapper {
	display: block
}

@media (max-width:991px) {
	.review__content-text::before {
		content: "";
		width: .1rem
	}

	.review__author-pos.target::after {
		content: "";
		width: 1rem;
		height: 1rem;
		top: .15rem
	}
}

@media (max-width:767px) {

	.article__content figure:last-child:not(.article__desctop-content figure, .article__mobile-content figure),
	.article__desctop-content:last-child figure,
	.article__desctop-content:nth-last-child(2) figure,
	.article__mobile-content:last-child figure,
	.article__mobile-content:nth-last-child(2) figure {
		padding-bottom: 2rem
	}

	.is--touch-device .bn__dropdown-sml.is-bordered:hover {
		background-color: #665ebe;
		color: #fff
	}

	.is--touch-device .bn__dropdown-sml.is-bordered:active {
		background-color: #4f46af;
		color: #fff
	}

	.is--touch-device .cookie-button:hover {
		color: #2d343c;
		background-color: transparent
	}

	.popup__scroll-content,
	.remodal {
		max-height: 100dvh
	}

	html .remodal-wrapper {
		padding: 0;
		height: 100dvh;
		bottom: auto
	}

	html.is--black-overlay .remodal-overlay {
		background: rgba(4, 4, 10, .8)
	}

	html.is--black-overlay .remodal-wrapper {
		padding: 3.5rem 2rem
	}

	html.is--white-overlay .remodal-overlay {
		background: #fff
	}

	.article__content .cta-banner-place,
	.article__content .cta-book-place,
	.cta-banner-place {
		padding-top: .2rem
	}

	.article__mobile-content {
		display: block
	}

	.article__desctop-content {
		display: none
	}

	.is--touch-device .article__toc-box a:hover {
		color: #009fe6
	}

	.is--touch-device .article__social-share-link.article__social-share-link--copy:hover,
	.is--touch-device .article__social-share-link.article__social-share-link--tg:hover,
	.is--touch-device .article__social-share-link.article__social-share-link--vk:hover {
		background-color: #47515b
	}

	.is--touch-device .article__social-share-link.article__social-share-link--copy.is--copy-done {
		background-color: rgba(5, 196, 107, .1)
	}
}
