/* --------------------------*/
/* --------------------------*/
/*       styles-v13.css      */
/* --------------------------*/
/* --------------------------*/

.cta__dd-list-other-wrap{display:none}
.is--mac .cta__dd-list-other-wrap,
.is--linux .cta__dd-list-other-wrap,
.is--windows .cta__dd-list-other-wrap{display:block;}
.cta__dd-list-other-wrap.is--open{max-height:.7rem}
.w-nav .cta__dd-list-other-wrap.is--open{max-height:.88rem}
.w-nav .cta__dd-list-other-wrap::before{left:.3rem;right:.3rem}
.cta__dd-list-other-wrap.is--open::before {opacity:1}
.cta__dd-list-other-wrap.is--open .cta__list-item{opacity:0;pointer-events:none}
.cta__dd-list-other-wrap::before{content:'';position:absolute;background-color:#E6E6E6;left:1.33rem;right:1.33rem;height:1px;top:50%;transform:translateY(-50%);opacity:0}

.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4),
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5),
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4){max-height:0;opacity:0;pointer-events:none;overflow:hidden}

.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(4),
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(5),
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(6),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(2),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(3),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(5),
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(6),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(2),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(3),
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap .is--open ~ div:nth-child(4){max-height:5rem;opacity:1;pointer-events:auto}

.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(1) {order: 1}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2) {order: 2}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3) {order: 3}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4) {order: 4}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5) {order: 5}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6) {order: 6}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(7) {order: 7;display:none}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(8) {order: 8;display:none}
.cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(9) {order: 9;display:none}

.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(1) {order: 3}
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2) {order: 1}
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3) {order: 2}
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4) {order: 4}
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5) {order: 5}
.is--mac .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6) {order: 6}

.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(1) {order: 2}
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2) {order: 5}
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3) {order: 6}
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4) {order: 1}
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5) {order: 3}
.is--windows .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6) {order: 4}

.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(1) {order: 3}
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(2) {order: 5}
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(3) {order: 6}
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(4) {order: 4}
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(5) {order: 1}
.is--linux .cta__dd-list:not(.is--sort-disable) .cta__dd-list-inner-wrap > div:nth-child(6) {order: 2}


.is--copy-done .is--copy-done-icon {transform: scale(1);opacity: 1}
.is--copy-done .is--copy-initital-icon {transform: scale(.5);opacity: 0}
.article__mobile-content,
.is--ajax-load-btn .navbar__button-icon {display: none}
.article__content figure:last-child:not(.article__desctop-content figure, .article__mobile-content figure),
.article__desctop-content:last-child figure,
.article__desctop-content:nth-last-child(2) figure,
.article__mobile-content:last-child figure,
.article__mobile-content:nth-last-child(2) figure {padding-bottom: 1.333rem}
.remodal-wrapper {z-index: 100000}
.tab-menu__description {height:0}
.w-dropdown-list{visibility:hidden;display:block;}
.w-dropdown-list.w--open{visibility:visible}
.is--has-arrow .cta__dd-list-wrap::before{content:'';position: absolute;left:calc( var(--arrowLeft) - .44rem );top: -.44444444rem;filter: drop-shadow(0 -1px 0 #f0f0f0);border-bottom: .66rem solid #fff;border-right: .44rem solid transparent;border-left: .44rem solid transparent}
.is--has-arrow.is--open-top .cta__dd-list-wrap::before{border-top:.66rem;border-bottom:0;top:auto;bottom:-.44rem}
.is--has-arrow.is--dark .cta__dd-list-wrap::before{filter:none;border-bottom-color:#333445}


.navbar__wrapper{background-color:rgba(243,243,247,.9)}
@supports((-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px))){
	.navbar__wrapper{background-color:rgba(255,255,255,.3);backdrop-filter:blur(10px);-webkit-backdrop-filter:blur(10px)}
}

.hero__screenshots{aspect-ratio:1.587}
.bottom__screenshot{aspect-ratio:1.745}
.scope__img-w.is--search{aspect-ratio:1.73}
.scope__img-w.is--activity{aspect-ratio:1.325}
.scope__img-w.is--bot{aspect-ratio:1.023}
.scope__img-w.is--focus{aspect-ratio:1.36}
.scope__img-w.is--guest{aspect-ratio:1.688}
.scope__img-w.is--time{aspect-ratio:.518}
.scope__img-w.is--privacy{aspect-ratio:.63}
.feature__support-item{aspect-ratio:5.2}
.feature__notify-item{aspect-ratio:.685}
.feature__stat-phone{aspect-ratio:.688}

.navbar__progress-bar,
.w-tabs:after,
.w-tabs:before {display: none}
html body #carrotquest-messenger-collapsed-container{z-index:900!important}
*{outline:0!important}
body{padding:0}
.w-lightbox-backdrop{z-index:99999}
.w-webflow-badge{display:None!important;visibility:hidden!important}
abr{display:inline-block}
body::selection{background-color:rgb(0,159,230,.2)}
body::-moz-selection{background:rgb(0,159,230,.2)}
.price__calc-button::-moz-selection,
.price__calc-wrapper img::-moz-selection{background:0 0}
.price__block.is--more-150 .price__calc-price::selection,
.price__calc-button::selection,.price__calc-wrapper img::selection{background:0 0}
input:-webkit-autofill,input:-webkit-autofill:active,
input:-webkit-autofill:focus,input:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 60px #fff inset!important;background-color:#fff!important;background-clip:content-box!important}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield}
input.input-error {border-color: #ff6a64 !important}
.remodal,
.remodal-wrapper:after{vertical-align: top}
.remodal-overlay{background:rgba(4,4,10,.8);transition:.3s}
.remodal-wrapper{overflow-x:hidden;padding:6.67rem 0}
html.remodal-is-locked body {overflow: hidden;-ms-touch-action: none;touch-action: none}
.is---video-overlay .popup__scroll-content::before {content: '';position: absolute;left: 0;right: 0;z-index: 100;height: 2.77rem;background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.20) 55.2%, rgba(0, 0, 0, 0.00) 100%)}
.popup__scroll-content,
.remodal {
	/*max-height: calc(100vh - 4.66rem);*/
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;
}

.is--center-modal .remodal,
.is--center-modal .remodal-wrapper:after {
	vertical-align: middle
}

.remodal-overlay {
	background: rgba(4, 4, 10, .9);
	transition: .3s
}

.remodal-wrapper {
	padding: 6.67rem 0
}

.is--tiny-font body {
	font-weight:300
}

.is--touch-device .navbar__popup-link:hover,
.is--touch-device .menu__navlink:hover{
  border-bottom-color: transparent
}

.is--touch-device .navbar__popup-link:active,
.is--touch-device .menu__navlink:active{
  border-bottom-color: #2d343c
}

.is--touch-device .popup__form-email-link:hover,
.is--touch-device .mediakit__email-link:hover {
    color: #009fe6
}

.is--touch-device .popup__form-email-link:active,
.is--touch-device .mediakit__email-link:active {
    color: #0082BD
}

.is--touch-device .download-ins__text-platform-link:hover {
    border-bottom-color: transparent
}

.is--touch-device .download-ins__text-platform-link:active {
    border-bottom-color: #2574a9
}

.is--touch-device .mediakit__link:hover {
    transform: scale(1)
}

.is--touch-device .mediakit__link:active {
    transform: scale(1.0125)
}

.is--touch-device .download-hero__link:hover {
    background-color: rgba(0, 122, 255, 0.1)
}

.is--touch-device .download-hero__link:active {
    background-color: rgba(0, 122, 255, 0.2)
}

.is--touch-device .footer__menu-item:hover,
.is--touch-device .footer__item-link:hover,
.is--touch-device .footer__item-contact-link:hover,
.is--touch-device .footer__social-link:hover {
    color: rgba(248,248,248,.3)
}

.is--touch-device .footer__menu-item:active,
.is--touch-device .footer__item-link:active,
.is--touch-device .footer__item-contact-link:active,
.is--touch-device .footer__social-link:active {
    color: rgba(248,248,248,.8)
}

.is--touch-device .footer__item-link.footer__item-download:active,
.is--touch-device .footer__item-link:hover {
    border-bottom-color: transparent
}

.is--touch-device .footer__item-link:active {
    border-bottom-color: rgba(248,248,248,.8)
}

.is--touch-device .footer__item-contact-link.is--email-link:hover {
    color: rgba(0,159,230,.8) 
}

.is--touch-device .footer__item-contact-link.is--email-link:active {
    color: #009fe6
}

.is--touch-device .footer__item-contact-link.is--email-link:hover .footer__item-contact-link-icon + div {
    border-color: transparent
}

.is--touch-device .footer__item-contact-link.is--email-link:active .footer__item-contact-link-icon + div {
    border-color: #009fe6
}

.is--touch-device .cta__list-item:hover {
    background-color:transparent;
}

.is--touch-device .cta__list-item:active {
    background-color: #f8f8f8;
}

.is--touch-device .price__calc-button:active {
	background-color: rgba(103, 115, 128, .15)
}

.is--touch-device .price__calc-button:hover {
	background-color: rgba(103, 115, 128, .05)
}

.blog-footer__link--store:hover .blog-footer__link-text {
	border-color: #333e49
}

.is--touch-device .blog-footer__link--store:active .blog-footer__link-text {
	border-color: transparent
}

.blog-footer__link--store.is--404-link:hover .blog-footer__link-text,
.is--touch-device .blog-footer__link--store.is--404-link:active .blog-footer__link-text {
	border-color: transparent
}

.blog-footer__link--store:hover .blog-footer__link-icon,
.is--touch-device .article__content a:hover,
.is--touch-device .blog-footer__link--store:active .blog-footer__link-icon,
.is--touch-device article__introtext a:hover {
	color: #333e49
}

.is--touch-device .download-hero__mobile-link:hover {
	background-color: rgba(255, 255, 255, 0.40);
}

.is--touch-device .download-hero__mobile-link.is--active:hover{
	background-color: rgba(255, 255, 255, 0.60);
}
.is--touch-device .download-hero__mobile-link.is--active:active,
.is--touch-device .download-hero__mobile-link:active{
	background-color: #fff;
}

.article__content a.article__cta-button:active,
.article__content a.article__cta-button:hover,
.is--touch-device .article__content a.article__cta-button:hover,
.is--touch-device .article__content a.article__cta-button:active {
    color: #fff;
}

.is--touch-device .blog-footer__link--store.is--404-link:hover {
	transform: scale(1);
    border-color: transparent;
}

.is--touch-device .blog-footer__link--store.is--404-link:active {
	transform: scale(1.2);
}

.is--touch-device .article__content .article-cta__subtitle p a:active,
.is--touch-device .article__content a[href*=mailto]:hover,
.is--touch-device .article__content p a:active,
.is--touch-device article__introtext a:active {
	color: #009fe6
}

.is--touch-device .article__content a[href*=mailto]:active,
.is--touch-device .article__toc-box a:active {
	color: #2574a9
}

.is--touch-device .faq__show-button:hover {
	background-color: #FFFFFF66
}

.is--touch-device .faq__show-button:active {
	background-color: #fff
}

.is--touch-device .cta__dd_bn:hover {
	background-color: #665ebe
}

.is--touch-device .cta__dd_bn:active {
	background-color: #4f46af
}

.is--touch-device .cta__dd_bn.is--green:hover {
	background-color: #05c46b
}

.is--touch-device .form__button-close.is--video-close:hover {
    color: rgba(255,255,255,.8)
}

.is--touch-device .form__button-close.is--video-close:active {
    color: rgba(255,255,255,1)
}

.is--touch-device .cta__dd_bn.is--green:active {
	background-color: #049a54
}

.is--touch-device .button-submit.is--black:hover,
.is--touch-device .cta__dd_bn.is--black:hover,
.is--touch-device .form__success-button.is--black:hover {
	background-color: #2d343c
}

.is--touch-device .button-submit.is--black:active,
.is--touch-device .cta__dd_bn.is--black:active,
.is--touch-device .form__success-button.is--black:active {
	background-color: #000
}

.is--touch-device .logo-vendor__item:hover {
	background-color: rgba(255, 255, 255, .4)
}

.is--touch-device .logo-vendor__item.w--open:hover,
.is--touch-device .logo-vendor__item:active {
	background-color: #fff
}

.is--touch-device .logo-vendor__item.is--bottom-item:hover {
	background-color: rgba(255, 255, 255, .4)
}

.is--touch-device .logo-vendor__item.is--bottom-item:active {
	background-color: #fff
}

.is--touch-device .blog-footer__link--store:hover .blog-footer__link-icon {
	color: #adb3bb
}

.is--touch-device .blog-footer__link--store:hover .blog-footer__link-text,
.is--touch-device .blog-footer__link.blog-footer__link--store:active {
	border-color: transparent
}

.is--touch-device .blog-hero__filter-button.w--current:hover,
.is--touch-device .blog-hero__filter-button:active {
	color: #2574a9;
	background-color: rgba(34, 119, 218, .1);
	border-color: transparent
}

.is--touch-device .blog-hero__filter-button:hover {
	color: #677380;
	-webkit-text-stroke-color: rgba(103, 115, 128, .2);
	background-color: transparent;
	border-color: rgba(103, 115, 128, .2)
}

.is--touch-device .blog-footer__link:hover {
	color: #677380;
	border-bottom-color: transparent
}

.is--touch-device .blog-footer__link:active {
	color: #333e49;
	border-bottom-color: transparent
}

.is--touch-device .article__header-crumb:hover {
	color: rgba(51, 62, 73, .5);
	border-bottom-color: rgba(51, 62, 73, .5)
}

.is--touch-device .article__header-crumb:active,
.is--touch-device .blog-footer__bottom-link:active {
	color: #2574a9;
	border-bottom-color: #2574a9
}

.is--touch-device .cookie-button:hover,
.is--touch-device .navbar__button:hover {
	color: #2d343c;
	background-color: transparent
}

.is--touch-device .cookie-button:active,
.is--touch-device .navbar__button:active {
	color: #fff;
	background-color: #2d343c
}

.is--touch-device .article__social-share-link.article__social-share-link--copy:hover,
.is--touch-device .article__social-share-link.article__social-share-link--tg:hover,
.is--touch-device .article__social-share-link.article__social-share-link--vk:hover {
	background-color: rgba(45, 52, 60, .2)
}

.is--touch-device .article__social-share-link.article__social-share-link--copy.is--copy-done:hover {
	background-color: rgba(5, 196, 107, .1)
}

.is--touch-device .article__social-share-link.article__social-share-link--copy:active {
	background-color: #009fe6
}

.is--touch-device .article__social-share-link.article__social-share-link--tg:active {
	background-color: #27a6e5
}

.is--touch-device .article__social-share-link.article__social-share-link--vk:active {
	background-color: #07f
}

.is--touch-device .article__cta-button:hover {
	background-color: #007aff
}

.is--touch-device .article__cta-button:active {
	background-color: #0066d6
}

.is--touch-device .blog-footer__bottom-link:hover {
	color: rgba(103, 115, 128, .8);
	border-color: rgba(103, 115, 128, .8)
}

.is--touch-device .article__content .article-cta__subtitle p a:hover {
	color: #677380
}

.is--touch-device .article__toc-box a:hover {
	color: rgba(45, 52, 60, .6)
}

.is--touch-device.is--download-page .cta__dd_bn:hover,
.is--touch-device .bn__dropdown-sml.is-bordered:hover {
	background-color: transparent;
	color: #2d343c
}

.is--touch-device.is--download-page .cta__dd_bn:active,
.is--touch-device .bn__dropdown-sml.is-bordered:active {
	background-color: #2d343c;
	color: #fff
}

.is--touch-device .popup__form-agreement-link:hover {
    color: rgba(180, 180, 180, 0.5);
    border-bottom-color: rgba(180, 180, 180, 0.5)
}

.is--touch-device .popup__form-agreement-link:active {
    color: rgba(248, 248, 248, 0.8);
    border-bottom-color: rgba(248, 248, 248, 0.8)
}

.is--touch-device .tooltip__question:hover {
	opacity: .3
}

.is--touch-device .tooltip__question:active {
	opacity: .8
}

.is--touch-device .navbar__old-close:active {
	opacity: 1
}

html * {
	-webkit-tap-highlight-color: transparent
}

.article__content .cta-banner-place,
.article__content .cta-book-place {
	padding-top: 1.33rem;
	padding-bottom: 2.78rem
}

.article-cta--in-content .w-dyn-bind-empty {
	display: block !important
}

.article__preloader-wrapper {
	display: block
}
.cta__dd-list-inner-wrap::-webkit-scrollbar {
    display: none
}

@media (max-width:991px) {
	.review__content-text::before {
		content: "";
		width: .1rem
	}

	.review__author-pos.target::after {
		content: "";
		width: 1rem;
		height: 1rem;
		top: .15rem
	}
}

@media (max-width:767px) {
    html input.input-error {
	   border-color: rgba(255, 106, 100, 0.50)!important
    }
    .navbar__wrapper .cta__dd-list-inner-wrap{max-height:calc( 100dvh - 5.45rem);overflow:auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: none;scrollbar-width: none}
    .download-ins__copy-text::after{content:"";position:absolute;right:0;top:0;height:100%;width:2rem;background-image:linear-gradient(to right, transparent, rgb(241 241 243))}
    .is--mobile-platforms .download__hero{background-image: linear-gradient(180deg, rgba(145, 155, 234, 0.25) 0.05%, rgba(145, 155, 234, 0.28) 26.2%, rgba(151, 166, 236, 0.10) 54.89%, rgba(151, 166, 236, 0.40) 71.91%, rgba(145, 155, 234, 0.30) 100.02%)}
    .is--mobile-platforms .download-hero__logo-wrap{margin-bottom:.5rem}
    .is--mobile-platforms h1 {font-size:3.16rem;line-height:1.2em;letter-spacing:-.015em}
    .cta__dd-list.is--small-list.is--has-arrow,
    .cta__dd-list.is--has-arrow,
    .cta__dd-list.is--has-arrow.is--open-top,
    .cta__dd-list.is--mobile-has-arrow,
    .cta__dd-list.is--small-list.is--mobile-has-arrow{padding-top:1rem;padding-bottom:1rem}
    .is--has-arrow.is--open-top .cta__dd-list-wrap::before,
    .is--has-arrow.is--mobile-open-top .cta__dd-list-wrap::before{bottom:-.6rem;top:auto;border-bottom:0;border-top:.7rem solid #fff;
    filter: drop-shadow(0 2px 0 #f0f0f0)}
    .is--short-text .cta__list-item span{display:inline}
    .cta__dd-list{--popupLeft: 0px}
    .cta__dd-list{left:var(--popupLeft)!important}
    .is--mobile-has-arrow .cta__dd-list-wrap::before {content:'';position:absolute;left:calc( var(--arrowLeft) - .44rem );top:-.6rem;filter: drop-shadow(0 -2px 0 #f0f0f0);border-bottom: .7rem solid #fff;border-right:.55rem solid transparent;border-left:.55rem solid transparent;}
    .cta__dropdown.is--hidden{opacity:0;pointer-events:none}
    .is--mobile-show-nav-cta .cta__dropdown.is--hidden{opacity:1;pointer-events:auto}
    .article__content figure:last-child:not(.article__desctop-content figure, .article__mobile-content figure),
	.article__desctop-content:last-child figure,
	.article__desctop-content:nth-last-child(2) figure,
	.article__mobile-content:last-child figure,
	.article__mobile-content:nth-last-child(2) figure {padding-bottom: 2rem}
    .scope__outer-row > .col:nth-child(1) {order: 2}
	.scope__outer-row > .col:nth-child(2) {order: 1}
	.scope__outer-row > .col:nth-child(3) {order: 5}
	.scope__outer-row > .col:nth-child(4) {order: 3}
	.scope__outer-row > .col:nth-child(5) {order: 4}
    
    @supports (aspect-ratio: 1 / 1) {
        .scope__img-w.is--search{aspect-ratio:1.096}
	.scope__img-w.is--activity{aspect-ratio:1.06}
	.scope__img-w.is--bot{aspect-ratio:1.023}
	.scope__img-w.is--focus{aspect-ratio:1.039}
	.scope__img-w.is--guest{aspect-ratio:1.006}
	.scope__img-w.is--time{aspect-ratio:1.0258}
        .scope__img-w.is--comment{aspect-ratio:1.237}
        .feature__notify-item {aspect-ratio:.909}
        .feature__stat-phone {aspect-ratio:.765}
    }

    @supports not (aspect-ratio: 1 / 1) {
        .scope__img-w.is--search{height:72.991vw}
	    .scope__img-w.is--activity{height:75.48vw}
	    .scope__img-w.is--bot{height:78.218vw}
	    .scope__img-w.is--focus{height:77.641vw}
	    .scope__img-w.is--guest{height:79.498vw}
	    .scope__img-w.is--time{height:77.995vw}
        .scope__img-w.is--comment{height:64.771vw}
        .feature__notify-item {height:91.638vw}
        .feature__stat-phone {height:108.888vw}
    }
    
	.is--touch-device .cookie-button:hover {
		color: #2d343c;
		background-color: transparent
	}
    
    .is--touch-device .menu__navlink:hover{
        border-bottom-color: #f0f0f0    
    }

    .is--touch-device .menu__navlink:active{
        border-bottom-color: #f0f0f0
    }
    
    .is--touch-device .logo-vendor__item:hover {
	   background-color: rgba(255, 255, 255, .5)
    }

    .is--touch-device .logo-vendor__item:active {
        background-color: rgba(255, 255, 255, .3)
    }

    .is--touch-device .logo-vendor__item.is--bottom-item:hover {
        background-color: rgba(255, 255, 255, .4)
    }

    .is--touch-device .logo-vendor__item.is--bottom-item:active {
        background-color: rgba(255, 255, 255, .2)
    }

	.popup__scroll-content,
	.remodal {
		max-height: 100dvh;
	}

	html .remodal-wrapper {
		padding: 0;
		height: 100dvh;
		bottom: auto
	}

	html.is--black-overlay .remodal-overlay {
		background: rgba(4, 4, 10, .9)
	}

	html.is--black-overlay .remodal-wrapper {
		padding: 3.5rem 2rem
	}

	html.is--white-overlay .remodal-overlay {
		background: #fff
	}

	.article__content .cta-banner-place,
	.article__content .cta-book-place,
	.cta-banner-place {
		padding-top: .2rem
	}

	.article__mobile-content {
		display: block
	}

	.article__desctop-content {
		display: none
	}

	.is--touch-device .article__toc-box a:hover {
		color: #009fe6
	}

	.is--touch-device .article__social-share-link.article__social-share-link--copy:hover,
	.is--touch-device .article__social-share-link.article__social-share-link--tg:hover,
	.is--touch-device .article__social-share-link.article__social-share-link--vk:hover {
		background-color: #47515b
	}

	.is--touch-device .article__social-share-link.article__social-share-link--copy.is--copy-done {
		background-color: rgba(5, 196, 107, .1)
	}
}

@media screen and (max-width: 479px) {
    @supports (aspect-ratio: 1 / 1) {
        .scope__img-w.is--search{aspect-ratio:1.096}
	    .scope__img-w.is--activity{aspect-ratio:1.06}
	    .scope__img-w.is--bot{aspect-ratio:1.023}
	    .scope__img-w.is--focus{aspect-ratio:1.039}
	    .scope__img-w.is--guest{aspect-ratio:1.006}
	    .scope__img-w.is--time{aspect-ratio:1.0258}
        .scope__img-w.is--comment{aspect-ratio:1.237}
        .feature__notify-item {aspect-ratio:.909}
        .feature__stat-phone {aspect-ratio:.765}
    }

    @supports not (aspect-ratio: 1 / 1) {
        .scope__img-w.is--search{height:70.085vw}
	    .scope__img-w.is--activity{height:72.482vw}
	    .scope__img-w.is--bot{height:75.105vw}
	    .scope__img-w.is--focus{height:74.555vw}
	    .scope__img-w.is--guest{height:76.352vw}
	    .scope__img-w.is--time{height:74.892vw}
        .scope__img-w.is--comment{height:62.202vw}
        .feature__notify-item {height:88.71vw}
        .feature__stat-phone {height:105.407vw}
    }
}
