.is--security-page .hero-emoji.left-1{width:var(--d50);height:var(--d50);margin-left: 2.833333rem;margin-top:.1rem;margin-bottom:3.99rem;}
.is--security-page .hero-emoji.left-2{width:var(--d65);height:var(--d65);left:7.44444rem;top:2.9rem}
.is--security-page .hero-emoji.left-3{width:var(--d49);height:var(--d49);margin-left:0.96rem}
.is--security-page .hero-emoji.left-4{width:var(--d90);height:var(--d90);margin-left:5.5rem;margin-top:-.6rem}
.is--security-page .hero-emoji.left-5{width:var(--d51);height:var(--d51);margin-left:.4rem;margin-top:.1rem}
.is--security-page .hero-emoji.left-6{width:var(--d75);height:var(--d75);margin-left:8rem;margin-top:-.4rem}
.is--security-page .hero-emoji.left-7{width:var(--d60);height:var(--d60);margin-left:2.2rem;margin-top:-.1rem}
.is--security-page .hero-emoji.left-8{width:var(--d60);height:var(--d60);margin-left:11.2rem;margin-top:-.5rem}
.is--security-page .hero-emoji.right-2{width:var(--d90);height:var(--d90);margin-top:2.599rem;margin-right:6.3rem}
.is--security-page .hero-emoji.right-3{width:var(--d65);height:var(--d65);margin-top:-4.8rem;margin-right:0}
.is--security-page .hero-emoji.right-4{width:var(--d66);height:var(--d66);margin-top:.1rem;margin-right:1.99rem}
.is--security-page .hero-emoji.right-5{margin-top:-1.95rem}
.is--security-page .hero-emoji.right-7{width:var(--d60);height:var(--d60);margin-top:-1.6rem;margin-right:11.06rem}
.is--security-page .hero-emoji.right-8{width:var(--d50);height:var(--d50);margin-top:.3rem;margin-right:1.25rem}
.is--security-page .hero-emoji{background: url('https://cdn.prod.website-files.com/64328ad759d957f990749456/67336ba71fc0b641d607affd_scr_emoji_bg.svg');background-size:cover;border-radius:0}
.scp__standart-content ul {
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:var(--d2)
}

.scp__standart-content li {
    padding:var(--d8) var(--d38) var(--d8) var(--d40);
    background-color: #FFFFFF80;
    background-image: url(https://cdn.prod.website-files.com/64328ad759d957f990749456/6734be000fba7b6b590c347a_scp_check.svg);
    background-repeat: no-repeat;
    background-position: var(--d16) var(--d12);
    background-size: var(--d14) auto;
}
@media(max-width: 767px) {
    .is--security-page .hero__emoji-left-item{margin-top:.75rem;}
    .is--security-page .hero-emoji.left-2{width:var(--m54);height:var(--m54);left:1.9rem;top:.4rem}
    .is--security-page .hero-emoji.left-3{width:var(--m36);height:var(--m36);margin-top:0;margin-left: 8rem}
    .is--security-page .hero-emoji.left-5{width:var(--m58);height:var(--m58);top:6.4rem;left:0.3rem;right:auto;margin-left:0}
    .is--security-page .hero-emoji.left-6{width:var(--m44);height:var(--m44);top:5.7rem;left:6.4rem;margin-left:0}
    .is--security-page .hero-emoji.right-2{width:var(--m48);height:var(--m48);margin-top:2.6rem;margin-right:.34rem}
    .is--security-page .hero-emoji.right-3{width:var(--m48);height:var(--m48);margin:0;right:5rem;top:7.2rem}
    .is--security-page .hero-emoji.right-4{width:var(--m40);height:var(--m40);margin:0;right:-0.3rem;top:8.85rem}
    .is--security-page .hero-emoji.right-5{width:var(--m46);height:var(--m46);margin:0;top:3.15rem;left:7rem}
    .is--security-page .hero-emoji{background: url('https://cdn.prod.website-files.com/64328ad759d957f990749456/67336ba71fc0b641d607affd_scr_emoji_bg.svg');background-size:cover;border-radius:0}
    .is--security-page .sm--background{display:none}
    .is--security-page .page-wrapper{background: linear-gradient(180deg, rgba(145, 155, 234, 0.2) 0%, rgba(145, 155, 234, 0.25) 8.45%, rgba(145, 155, 234, 0.2) 14.53%, rgba(166, 195, 243, 0.2) 20%, rgba(145, 155, 234, 0.2) 25.55%, rgba(172, 206, 245, 0.18) 36.35%, rgba(145, 155, 234, 0.2) 42.73%, rgba(172, 206, 245, 0.2) 58.5%, rgba(145, 155, 234, 0.190044) 66.69%, rgba(172, 206, 245, 0.2) 100%)}
    .scp__standart-content li {
        padding:var(--m10) var(--m12) var(--m10) var(--m42);
        background-position: var(--m16) var(--m12);
        background-size: var(--m16) auto;
    }
}
