:root {
    --s62: 3.4444444444rem;
    --s81: 4.5rem;
    --s91: 5.0555555556rem;
    --s92: 5.1111111111rem;
    --s106: 5.8888888889rem;
    --d136: 7.5555555556rem;
    --s170: 9.4444444444rem;
    --s209: 11.6111111111rem;
    --d218: 12.1111111111rem;
    --s221: 12.2777777778rem;
    --s229: 12.7222222222rem;
    --s237: 13.1666666667rem;
    --d238: 13.2222222222rem;
    --d243: 13.5rem;
    --s248: 13.7777777778rem;
    --s252: 14rem;
    --s254: 14.1111111111rem;
    --s262: 14.5555555556rem;
    --s360: 20rem;
    --d427: 23.7222222222rem;
    --d476: 26.4444444444rem;
    --d484: 26.8888888889rem;
    --d498: 27.6666666667rem;
    --d720: 40rem;
    --red--500: #ff4f47;
}

@media (max-width: 767px) {
    :root {
        --d2: 0.1666666667rem;
        --m61: 5.0833333333rem;
        --s62: 5.1666666667rem;
        --s81: 6.75rem;
        --m82: 6.8333333333rem;
        --s88: 7.3333333333rem;
        --s91: 7.5833333333rem;
        --s92: 7.6666666667rem;
        --s106: 8.8333333333rem;
        --m130: 10.8333333333rem;
        --s170: 14.1666666667rem;
        --m180: 15rem;
        --m195: 16.25rem;
        --s209: 17.4166666667rem;
        --s221: 18.4166666667rem;
        --s229: 19.0833333333rem;
        --s237: 19.75rem;
        --s252: 21rem;
        --s262: 21.8333333333rem;
        --m107: 8.9166666667rem;
        --m185: 15.4166666667rem;
        --m205: 17.0833333333rem;
        --m211: 17.5833333333rem;
        --m216: 18rem;
        --m217: 18.0833333333rem;
        --s248: 20.6666666667rem;
        --s254: 21.1666666667rem;
        --m262: 21.8333333333rem;
        --m294: 24.5rem;
        --m298: 24.8333333333rem;
        --m318: 26.5rem;
        --s360: 30rem;
        --m384: 32rem;
        --m610: 50.8333333333rem;
        --m743: 61.9166666667rem;
    }
}