:root {
    --s15: .8333333333rem;
    --s17: .9444444444rem;
    --s37: 2.055555555rem;
    --s45: 2.5rem;
    --s62: 3.4444444444rem;
    --s81: 4.5rem;
    --s84: 4.666666667rem;
    --s91: 5.0555555556rem;
    --s92: 5.1111111111rem;
    --s106: 5.8888888889rem;
    --s113: 6.2777777777rem;
    --d136: 7.5555555556rem;
    --s154: 8.5555555555rem;
    --s158: 8.7777777778rem;
    --s170: 9.4444444444rem;
    --s189: 10.5rem;
    --s197: 10.944444444rem;
    --s202: 11.222222222rem;
    --s209: 11.6111111111rem;
    --d218: 12.1111111111rem;
    --s221: 12.2777777778rem;
    --s229: 12.7222222222rem;
    --s237: 13.1666666667rem;
    --d238: 13.2222222222rem;
    --d243: 13.5rem;
    --s248: 13.7777777778rem;
    --s252: 14rem;
    --s253: 14.0555555556rem;
    --s254: 14.1111111111rem;
    --s262: 14.5555555556rem;
    --d270: 15rem;
    --s273: 15.1666666667rem;
    --s300: 16.6666666667rem;
    --s301: 16.7222222222rem;
    --d326: 18.1111111111rem;
    --s360: 20rem;
    --d427: 23.7222222222rem;
    --d476: 26.4444444444rem;
    --d484: 26.8888888889rem;
    --d498: 27.6666666667rem;
    --d720: 40rem;
    --red--500: #ff4f47;
}

@media (max-width: 767px) {
    :root {
        --d2: 0.1666666667rem;
        --s15: 1.25rem;
        --s17: 1.416666667rem;
        --s37: 3.083333333rem;
        --s45: 3.75rem;
        --m61: 5.0833333333rem;
        --s62: 5.1666666667rem;
        --s77: 6.4166666667rem;
        --s81: 6.75rem;
        --m82: 6.8333333333rem;
        --s88: 7.3333333333rem;
        --s91: 7.5833333333rem;
        --s92: 7.6666666667rem;
        --s96: 8rem;
        --s106: 8.8333333333rem;
        --m130: 10.8333333333rem;
        --s152: 12.6666666667rem;
        --s170: 14.1666666667rem;
        --m180: 15rem;
        --s193: 16.0833333333rem;
        --m195: 16.25rem;
        --s202: 16.8333333333rem;
        --s209: 17.4166666667rem;
        --s221: 18.4166666667rem;
        --s229: 19.0833333333rem;
        --s233: 19.4166666667rem;
        --s237: 19.75rem;
        --s252: 21rem;
        --s262: 21.8333333333rem;
        --m107: 8.9166666667rem;
        --m185: 15.4166666667rem;
        --m205: 17.0833333333rem;
        --m211: 17.5833333333rem;
        --m216: 18rem;
        --m217: 18.0833333333rem;
        --s248: 20.6666666667rem;
        --s254: 21.1666666667rem;
        --m262: 21.8333333333rem;
        --m294: 24.5rem;
        --m298: 24.8333333333rem;
        --s309: 25.75rem;
        --m318: 26.5rem;
        --s360: 30rem;
        --m384: 32rem;
        --s394: 32.8333333333rem;
        --m610: 50.8333333333rem;
        --m743: 61.9166666667rem;
    }
}